
.header-top {
  color: white;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  background-color: #003b95;
}
.header-top .header-top-left {
    font-size: 30px;
    padding-bottom: 14px;
    
}
.header-top .header-top-right {
    text-align: end;
    .login-contro{
        padding: 0;
        .contro-login{
          padding-top: 5px;
          .user-info-menu{
            position: absolute;
            background-color: white;
            z-index: 300;
            top: 70px;
            width: 200px;
            border-radius: 10px;
            left: 70%;
            text-align: left;
            button{
              border: none;
              color: black;
              background-color: transparent;
              padding: 0;
              margin: 0;
              padding-left: 10px;
              padding-top: 5px;
              padding-bottom: 5px;
              width: 100%;
              text-align: left;
              border-radius: 10px;
            }
            button:hover{
              background-color: gray;
            }
          }
          .info-button{
            margin-left: 40px;
            color: white;
            background-color: #003b95;
            width: 200px;
            border: none;
            img{
              margin-left: 10px;
              margin-right: 10px;
              width: 40px;
              border-radius: 50%;
              height: 40px;
              font-weight: bold;
            }
            h5{
              padding: 0;
              margin: 0;
            }
            p{
              padding: 0;
              margin: 0;
              color: #ffb700;
            }
          }
        }
      }
}





.header-top span {
    padding: 15px;
}
.header-top button {
    color: #006ce5;
    padding: 3px 6px;
}
