.header-container {
  background-color: #003b95;
  height: 490px;
  padding: 0;
  position: relative;
  
  .header-content {
    color: white;
    position: relative;

    .content-between {
      height: 60px;
      display: flex;
      position: relative;
      top: -110px;
      .content-box {
        height: 60px;
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 2;
        display: flex;
        
        background-color: #ffb700;
        // border: 5px solid #ffb700;
        color: black;
  
        input {
          background: transparent;
          border: none;
          outline: none;
          // border: 1px solid red;
        }
  
        i {
          padding: 5px;
        }
  
        .box-search {
          width: 300px;
          height: 50px;
          margin: 5px 0;
          padding: 12px;
          background-color: white;
          border-radius: 10px;
        }
        .box-calendar {
          width:50px;
          background-color: white;
        }
        .box-person {
          width: 13px;
          background-color: white;
        }
      }
    }

    .header-top {
      align-items: center;
      margin: 0 auto;
      height: 70px;

      .header-top-left {
        font-size: 30px;
        padding-bottom: 14px;
        
      }

      .header-top-right {
        text-align: end;
      }

      span {
        padding: 15px;
      }

      button {
        color: #006ce5;
        padding: 3px 6px;
      }
    }

    .header-body {
      .header-body-left {
        button {
          border: 1px solid white;
          border-radius: 30px;
          height: 51px;
          margin-right: 5px;
        }

        span {
          padding: 15px;
          cursor: pointer;
          border-radius: 30px;

          &:hover {
            background-color: #ffffff3b;
          }
        }

        i {
          padding: 5px;
        }
      }
    }

    .header-bot {
      height: 300px;
      .content-up {
        padding-top: 50px;

        .title-top {
          font-size: 50px;
        }
        .title-bot {
          font-size: 20px;
          padding-left: 20px;
        }
      }
      .content-down {
        background-color: white;
        height: 134px;
        padding-top: 50px;
        position: absolute;
        margin-left: 0;
        bottom: 0;
        left: 0;
        width: 100%;

        .form-check-input {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }

        .form-check-label {
          padding: 10px;
          padding-top: 2px;
          color: black;
        }
      }
    }
  }
}
