.home-container5 {
  //   height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  //   background-color: aqua;

  .slick-list {
    // background: #fff;
    margin: 0 auto;
    width: 1138px;
    // width: 90%;
  }

  .slick-slider {
    // margin-bottom: 50px;
    // width: 700px;
  }

  .custom-arrow {
    z-index: 200;
    position: relative;
    top: 110px;
    left: -10px;
    color: black;
    background-color: gainsboro;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none; /* Loại bỏ đường viền khi focus */
  }
  
  .custom-arrow:hover {
    color: #007bff; /* Màu sắc khi di chuột vào */
  }
  .custom-arrowl {
    z-index: 200;
    position: relative;
    top: -135px;
    left: 1125px;
    background-color: gainsboro;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none; /* Loạ Loại bỏ đường viền khi focus */
  }
  
  .custom-arrowl:hover {
    color: #007bff; /* Màu sắc khi di chuột vào */
  }
  .home-content {
    .button5 {
      border-radius: 19px;
      margin: 5px;

      i {
        padding-right: 5px;
      }
    }
  }

  .home-body {
    height: 206px;
    // border: 1px solid red;

    .back-ground {
      height: 202px;
      background-image: url(../../assets/images/292129389.jpeg);
    }

    // .no-gutters {
    //   height: 202px;
    //   align-items: center;
    // }
  }
  .card-img2 {
    width: 188px;
    height: 170px;
    border-radius: 20px;
    padding: 5px;
  }
}
