.home-container {
  //   height: 500px;
  padding-bottom: 50px;
  //   background-color: aqua;

  .slick-list {
    // background: #fff;
    margin: 0 auto;
    width: 1138px;
    // width: 90%;
  }

  .slick-slider {
    // margin-bottom: 50px;
    // width: 700px;
  }

  
.custom-arrow {
  z-index: 200;
  position: relative;
  top: 120px;
  left: -20px;
  color: black;
  background-color: gainsboro;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none; /* Loại bỏ đường viền khi focus */
}

.custom-arrow:hover {
  color: #007bff; /* Màu sắc khi di chuột vào */
}
.custom-arrowl {
  z-index: 200;
  position: relative;
  top: -115px;
  left: 1125px;
  background-color: gainsboro;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none; /* Loạ Loại bỏ đường viền khi focus */
}

.custom-arrowl:hover {
  color: #007bff; /* Màu sắc khi di chuột vào */
}


  .home-body {
    height: 206px;
    // border: 1px solid red;

    .card {
      //   border-radius: 20px;
      width: 99% !important;
    }

    .card-background {
      height: 204px;
      background-image: url(../../assets/images/292129389.jpeg);
    }

    // .no-gutters {
    //   height: 202px;
    //   align-items: center;
    // }
  }
  img {
    height: 202px;
    border-radius: 3px 0 0 3px;
  }
}
