.home-container4 {
  padding-top: 50px;
  .home-content4 {
    height: 240px;

    .col-with-bg {
      background: url("https://cf.bstatic.com/xdata/images/city/600x600/688893.jpg?k=d32ef7ff94e5d02b90908214fb2476185b62339549a1bd7544612bdac51fda31&o=") center/cover
        no-repeat;
      border-radius: 10px;
    }.col-with-bg1 {
      background: url("https://cf.bstatic.com/xdata/images/city/600x600/688844.jpg?k=02892d4252c5e4272ca29db5faf12104004f81d13ff9db724371de0c526e1e15&o=") center/cover
        no-repeat;
      border-radius: 10px;
    }.col-with-bg2 {
      background: url("https://cf.bstatic.com/xdata/images/city/600x600/688853.jpg?k=f6427c8fccdf777e4bbc75fcd245e7c66204280181bea23350388c76c57348d1&o=") center/cover
        no-repeat;
      border-radius: 10px;
    }.col-with-bg3 {
      background: url("https://cf.bstatic.com/xdata/images/city/600x600/688831.jpg?k=7b999c7babe3487598fc4dd89365db2c4778827eac8cb2a47d48505c97959a78&o=") center/cover
        no-repeat;
      border-radius: 10px;
    }.col-with-bg4 {
      background: url("https://cf.bstatic.com/xdata/images/city/600x600/688956.jpg?k=fc88c6ab5434042ebe73d94991e011866b18ee486476e475a9ac596c79dce818&o=") center/cover
        no-repeat;
      border-radius: 10px;
    }
    .font-weight-bold {
      font-size: 25px;
      color: white;
      padding: 15px;
    }
  }
}
